
/* Start Contact */

@media (max-width:767px) {

    .contact h3 {
        font-size: 20px;
    }

    .contact li span {
        font-size: 13px!important;
    }

}

.contact p {
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 40px!important;
    display: block;
    color: #eee;
}

.contact ul {
    position: relative;
    padding: 0;
}

.contact li {
    position: relative;
    margin-bottom: 20px;
}

.contact li div {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: #3F51B5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact li span {
    top: 0;
    flex-direction: column;
    display: block;
    margin-left: 50px;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.contact li span.text {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.contact .contact-form input {
    background-color: #fff;
    color: #3F51B5;
    height: 40px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #fff;
    transition: .3s linear;
    outline: 0!important;
    text-transform: capitalize;
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus
{
    border: 1px solid #fff;
}

.contact .contact-form textarea {
    background-color: #fff;
    color: #3F51B5;
    height: 140px;
    padding-top: 15px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #fff;
    transition: .3s linear;
    outline: 0!important;
    resize: none;
}

.contact .contact-form .btn {
    width: 100%;
    height: 50px;
    position: relative;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
    background-color: #fff;
    color: #3F51B5;
    margin: 10px 0;
    border-radius: 0!important;
}

.contact .contact-form .btn::before {
    z-index: -1;
}

.contact .contact-form .btn i {
    position: absolute;
    top: 0;
    color: #fff;
}

/* End Contact */