.header {
    background-color: #4457c3;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
    align-items: center;
    position: relative;
    z-index: 9999;
    box-shadow: 4px 4px 40px 4px #3a4aa8;
}

@media (max-width:992px) {
    .header {
        position: fixed;
        width: 100%;
    }
    .header .brand {
        display: none;
    }
    .header .menu-toggler {
        display: block!important;
        cursor: pointer;
    }
    .header .list-links {
        display: flex;
        flex-direction: column;
        opacity: 0;
        width: 0;
    }
    .header .list-links.active {
        position: fixed;
        top: 70px;
        left: 0;
        background-color: #4457c3;
        width:220px;
        min-height: 100vh;
        border-top: .5px solid rgba(255, 255, 255, 0.507);
        z-index: 999;
        opacity: 1;
        transition: .3s ease-in-out;
    }

    .header .list-links li {
        border-bottom: .5px solid rgba(255, 255, 255, 0.157);
        line-height: 80px;
    }

    .header .list-links a {
        font-size: 12px;
        font-weight: 400;
        transition: .3s ease-in-out;
        margin-left: 18px!important;
    }
    
    .header .list-links a:hover {
        letter-spacing: 2px;
    }

    .header .list-links a::before {
        display: none;
    }

}

.header .menu-toggler {
    position: absolute;
    left: 20px;
    display: none;
    top:10px;
    font-size: 30px;
    color: #fff;
}

.header ul {
    display: flex;
}

.header .brand {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4457c3;
    position: relative;
    z-index: 2;
}

.header .brand::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -18px;
    width: 120px;
    height: 35px;
    background-color: #fff;
    color: #3a4aa8;
    z-index: -1;
    border-radius: 3px;
}

.header .brand span {
    font-size: 13px;
    font-weight: 500;
    color: #4457c3;
    padding-left: 2px;
    z-index: 2;
    text-transform: capitalize;
}

.list-links li a {
    margin: 0 35px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    transition: .3s ease-in-out;
    font-weight: 400;
    letter-spacing: .5px;
}

.header .list-links a:hover::before {
    opacity: 1;
}

.header .list-links a::before {
    content: '';
    top: -31px;
    left: 50%;
    position: absolute;
    width: 50px;
    height: 0;
    background-color: #fff;
    z-index: -1;
    opacity: 0;
    transition: .3s linear;
    transform: translate(-50%);
}

.header .list-links a:hover::before,
.header .list-links a.active::before {
    height: 8px;
    opacity: 1;
    transition: .3s linear;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-links .products-link {
    position: relative;
}

.list-links li a .drop-icon {
    font-size: 20px;
    padding-left: 5px;
}

.list-icons li {
    cursor: pointer;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #fff;
}

.cart-icon-li {
    position: relative;
}

.cart-icon-li a {
    color: #fff;
}

.cart-icon {
    position: absolute;
    top: 1px;
    left: 9px;
    color: #fff;
    width: 15px;
    height: 15px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10px;
    font-weight: 400;
}

.list-icons li.search {
    width: 35px;
    height: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-icons li .heart::before {
    content: '5';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
}

.search-box {
    position: fixed;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #4457c3;
    display: flex;
    align-items:center;
    transform: scale(0);
    padding: 0 20px;
    z-index: 99;
    transition: .3s ease-in-out;
}

.search-box.active {
    opacity: 1;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.search-box input {
    width: 80%;
    height: 55px;
    border: 0;
    background-color: #fff;
    padding: 0 20px;
    font-size: 14px;
    color: #3a4aa8;
    border: 1px solid #ddd;
}

.search-box input::placeholder {
    color: #4457c3;
}

.search-box button {
    width: 20%;
    height: 55px;
    background-color: #3a4aa8;
    color: #fff;
}

.search-box .close {
    position: absolute;
    right: 25%;
    color: #3a4aa8;
    font-size: 24px;
    padding: 0 0;
    cursor: pointer;
}

.small-cart {
    position: absolute;
    top: 70px;
    right: 0;
    width: 300px;
    padding: 20px 22px;
    background-color: #4457c3;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: .3s linear;
    border-top: 1px solid #fff;
}

.small-cart .cart-small-header {
    margin-bottom: 30px;
    font-size: 14px;
    
}

.small-cart.active {
    opacity: 1;
    transform: scale(1);
    transition: .3s linear;
}

.small-cart .cart-items {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.small-cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.small-cart img {
    height: 35px;
}


.small-cart .product-name {
    font-size: 12px;
    max-width: 110px;
}

.small-cart .product-price {
    font-size: 13px;
    font-weight: bold;
}

.small-cart .btn-delete {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    color: #3a4aa8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-cart .full-cart-btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #3a4aa8;
}
